<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tranway.tleshine"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.tranway.tleshine.model.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/redbear"
        android:label="@string/app_name" >
        <activity
            android:name="com.tranway.tleshine.bluetooth.SimpleControls"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.tranway.tleshine.bluetooth.RBLService"
            android:enabled="true" />

        <activity
            android:name="com.tranway.tleshine.viewLoginAndRegister.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.tranway.tleshine.viewLoginAndRegister.SelectLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_select_login"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity android:name="com.facebook.LoginActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.tranway.tleshine.viewLoginAndRegister.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_register"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.tranway.tleshine.viewLoginAndRegister.RegisterUserInfoActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.tranway.tleshine.viewSettings.SettingsUserHighActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/CustomWindowTransparent"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.tranway.tleshine.viewSettings.SettingsUserWeightActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/CustomWindowTransparent"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.tranway.tleshine.viewSettings.SettingsUserBirthdayActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/CustomWindowTransparent"
            android:windowSoftInputMode="stateHidden" >
        </activity>
    </application>

</manifest>